@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.title-1 {
    font-family: 'Viga', sans-serif;
    font-size: 45px;
}