@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.line {
    background-color: #222;
}

/* .color-wheel {
    background-color: #000;
}

.information {
    background-color: red;
} */