@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #0067b2;
    font-family: 'Viga', sans-serif;
}

.navbar-menu {
    background-color: #0067b2;
}

.navbar-menu a {
   font-size: 18px;
}

.navbar-menu a:hover {
    color: #0067b2 !important;
    border-bottom: 3px solid #fbb700
}

footer {
    font-family: 'Viga', sans-serif;
    background-color: #0067b2 !important;
}

@media screen and (max-width: 1023px) {
    .navbar-menu a:hover {
       border-bottom: none
     }
}