@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #0067b2;
    font-family: 'Viga', sans-serif;
    height: 80px;
}

.navbar-brand {
    padding: 10px;
}

.navbar-brand img {
    width: 25%
} 

.navbar-menu {
    background-color: #0067b2;
}

.navbar-menu a {
   font-size: 18px;
}

.navbar-menu a:hover {
    color: #0067b2 !important;
    border-bottom: 3px solid #fbb700
}

footer {
    font-family: 'Viga', sans-serif;
    background-color: #0067b2 !important;
    height: 175px;
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        margin-top: -15px;
      }
    
    .navbar-menu a:hover {
       border-bottom: none;
     }

     .navbar {
        height: 50px;
    }

    .navbar-brand img {
        width: 15%
    }

    .navbar-burger {
        margin-top: -10px
    }
}

