/* Slider style */
  .demo {
    width:100%;
}

.demo li {
    display:none;
}
.demo img {
    display: block;
    width: 100%;
}

.logo {
    position: absolute;
    z-index: 7;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.logo img {
    width: 75%;
}


@media screen and (max-width: 1400px)  {
    .logo {
        left:55%;
        top: 30%;
    }
}


@media screen and (max-width: 1366px)  {
    .logo {
        left:55%;
        top: 40%;
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        left: 55%;
        top: 20%;
    }

    .logo img {
        width: 60%;
    }
}


@media screen and (max-width: 768px) {
    

     .logo {
        left: 60%;
        top: 15%;
    }

    .logo img {
        width: 45%;
    }
}


@media screen and (max-width: 550px) and (orientation: portrait) {
    

    .logo {
        top: 12%;
    }

    .logo img {
        width: 40%;
    }
} 

 @media screen and (max-width: 420px) and (orientation: portrait) {
    

     .logo {
        top: 9%;
    }

    .logo img {
        width: 40%;
    }
}
